<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AP Test</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a style="margin-left:5px" href="#" class=" center brand-logo">PHONE KART</a>
      <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large forjq"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="forjq" href="/home">Home</a></li>
      </ul>
    </div>
  </nav>


  <!-- Dropdown Structure -->
  <div id='dropdown1' class='dropdown-content'> <!-- Outline not going -->
    <form>
      <div class="row">
        <div class="input-field">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
    </form>
  </div>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="http://placeimg.com/640/480/any">
      </div>
      <a href="#user"><img class="circle" id="side_pic" style="display: none" src="http://placeimg.com/640/480/any"></a>
      <a href="#name"><span id="side_name" class="white-text name"></span></a>
      <a href="#email"><span id="side_email" class="white-text email"></span></a>
    </div></li>
    <div class="row hide-on-large-only" style="text-align: center">
      <div class="col s6">
        <a class="waves-effect" href="#!">Sign Up</a>
      </div>
      <div class="col s6">
        <a class="waves-effect" href="#!">Log In</a>
      </div>
    </div>
    <li><a class="waves-effect" href="/cart">CART</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="/history">ORDER HISTORY</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="/account">ACCOUNT</a></li>
  </ul>

  <section style="margin-top: 100px;min-height: 65vh" class="center">
    <p><b> NAME - </b> Nikhil Narasimhan</p>
    <p><b> EMAIL ID - </b> nikhil.narasimhan_99@gmail.com </p>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Change Password</a>
  </section>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <form>
        <div class="row">
          <div class="input-field">
            <input id="password" type="password" class="validate">
            <label for="password">Current Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="password" type="password" class="validate">
            <label for="password">New Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="password" type="password" class="validate">
            <label for="password"> New Password</label>
          </div>
        </div>
        <div class="row">
          <button> Submit </button>
        </div>
      </form>
    </div>
  </div>



  <!--  Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>
