<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Parallax Template - Materialize</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/foundation.css')}}" media="screen,projection">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}" media="screen,projection">

    <title>AP Project 1</title>
  </head>
  <body>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"
    </script>
    <script src="static/js/app.js"></script>
    <script src="static/js/foundation.js"></script>
    <script src="static/js/what-input.js"></script>
    tht
  </body>
</html>
