<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AP Test</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a style="margin-left:5px" href="/home" class=" center brand-logo">PHONE KART</a>
      <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large forjq"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li id='signup'><a class="dropdown-trigger forjq" href="#!" data-target='dropdown1'>Sign Up</a></li>
        <li id='login'><a class="forjq" href="/login">Log In</a></li>
        <li id='logout'><a class="forjq" href="/logout">Log Out</a></li>
        <li><a href="/wish"><i class="material-icons">stars</i></a></li>
        <li><a href="/cart"><i class="material-icons">shopping_cart</i></a></li>
      </ul>
    </div>
  </nav>


  <!-- Dropdown Structure -->
  <div id='dropdown1' class='dropdown-content'> <!-- Outline not going -->
    <form>
      <div class="row">
        <div class="input-field">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <button> Submit </button>
      </div>
    </form>
  </div>

  <ul id="slide-out" class="sidenav" style="background-color: black; 2margin-top: 70px">
    <li><div class="user-view">
      <div class="background">
        <img src="http://placeimg.com/640/480/any">
      </div>
      <a href="#user"><img class="circle" id="side_pic" style="display: none" src="http://placeimg.com/640/480/any"></a>
      <a href="#name"><span id="side_name" class="white-text name"></span></a>
      <a href="#email"><span id="side_email" class="white-text email"></span></a>
    </div></li>
    <div class="row hide-on-large-only" style="text-align: center">
      <div class="col s6">
        <a class="waves-effect" href="#!">Sign Up</a>
      </div>
      <div class="col s6">
        <a class="waves-effect" href="/login">Log In</a>
      </div>
    </div>
      <div class="row hide-on-large-only">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    <li><a style="color:white" class="waves-effect" href="/wish">WISH LIST</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:white" class="waves-effect" href="/history">ORDER HISTORY</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:white" class="waves-effect" href="/account">ACCOUNT</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:white" class="waves-effect" id="logout" href="/logout">Log Out</a></li>
  </ul>

  <section style="height: 200px">
  </section>

  <section class="container">
    <div class="row">
      <div class="col s12 m5 l3">
        <img class="productimage" src={{data['img_link']}} alt="Phone_Picture">
      </div>
      <div class="col s12 m5 l3 offset-l3">
        <p><b style="font-size:20px">Product Name - </b>{{data['phone_name']}}</p>
        <p><b style="font-size:20px">Price - </b>₹{{data['price']}}</p>
        <p><b style="font-size:20px">Ram + Storage - </b>{{data['ram']}} + {{data['storage']}}</p>
        <p><b style="font-size:20px">Battery - </b>{{data['battery']}}mAh</p>
        <p><b style="font-size:20px">Colours - </b>{{ data['colour'] }}</p>
        {% if data['other_variants']|length > 0 %}
          <p><b style="font-size:20px">Other Variants (Ram + Storage +Colour) - </b>
            {% for ram_st in data['other_variants'] %}
              {{ ram_st|safe}}
              {{ "," if not loop.last }}
            {% endfor %}
          </p>
        {% endif %}
      </div>
    </div>
    <div class="row center" style="padding-top:90px">
      <button class="btn black white-text buynowbtn" type="button" onclick="addToCart()" name="button">Add to Cart</button>
      <button class="btn black white-text" type="button" name="button">Wish List</button>
    </div>
    <div class="row container">
      <table class="highlight responsive-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Specification</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>OS</td>
            <td>{{data['os']}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{data['phone_name']}}</td>
          </tr>
          <tr>
            <td>Company</td>
            <td>{{data['company']}}</td>
          </tr>
          <tr>
            <td>Battery</td>
            <td>{{data['battery']}}mAh</td>
          </tr>
          {% for k,v in data['features'].items() %}
            <tr>
              <td>{{k}}</td>
              <td>{{v}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  <section style="height: 100px">
  </section>

  <footer style="padding-top: 0; background: black" class="page-footer">
    <div class="footer-copyright">
      <div class="container white-text text-lighten-4">
        © 2019
        <a class="white-text text-lighten-4 right" href="/home">BACK HOME!</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>
